@font-face {font-family:Source Sans Pro; src: url("/fonts/SourceSansPro-Regular.ttf"); }
@font-face {font-family:Source Sans Pro Bold; src: url("/fonts/SourceSansPro-Bold.ttf"); }
@font-face {font-family:Source Sans Pro Italic; src: url("/fonts/SourceSansPro-Italic.ttf"); }
@font-face {font-family: Source Code Pro; src: url("/fonts/SourceCodePro-Regular.ttf"); }
body {color:#000;font-family:"Source Sans Pro", sans-serif; max-width:800px; margin:1em auto 3em auto; padding:0;}
code { color: #bd4147; background-color: #F8F9FA; font-family:"Source Sans Code", monospace;}
pre {color:#333a41; font-family:"Source Sans Code", monospace; padding-left:1em;}
p, li, pre {line-height:150%;}
strong {font-family:"Source Sans Pro Bold"; font-weight:normal; font-style:normal;}
em {font-family:"Source Sans Pro Italic"; font-weight:normal; font-style:normal;}
img {display:block; max-width:100%; height:auto; margin-left:auto; margin-right:auto;}
a:link {color:#7d4698; text-decoration:none;}
a:visited {color:#7d4698; text-decoration:none;}
a:hover {color:#7d4698; text-decoration:underline;}
a:active {color:#59316B; text-decoration:underline;}